@font-face {
  font-family: 'VT323';
  src: url('/VT323-Regular.woff2') format('woff2');
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'VT323';
  font-size: 32px;
  letter-spacing: 0.075em;
  margin: 4px;
  padding: 32px;
  height: 100%;
  overflow-y: auto;

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  font-smooth: never;

  ::-moz-selection {
    color: black;
    background-color: white;
  }

  ::selection {
    color: black;
    background-color: white;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
}

a, a:visited {
  font-family: 'VT323';
  color: white;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

a:hover, a:focus, a:active {
  outline: none;
  color: black;
  background-color: white;
}

button {
  font-family: 'VT323';
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 32px;
  padding: 8px;
  display: block;
  margin-top: 8px;
  cursor: pointer;
}

input, textarea, select {
  font-family: 'VT323';
  letter-spacing: 0.1em;
  font-size: 32px;
  color: white;
  box-sizing: border-box;
  background-color: black;
  border: 2px solid white;
  min-width: 320px;
  min-height: 30px;
  padding: 8px;
  width: 100%;
  margin-bottom: 16px;

  &:focus {
    outline: none;
  }
}

textarea {
  min-height: 175px;
}

select {
  appearance: none;
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  padding-right: 16px;
  background-image: url('/dropdown-arrow.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  background-size: 16px;
}
