.Button {
  @include icon-button('/dice.png');
}

.Loading {
  animation: pulse 0.5ss infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.35;
  }
}
